* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
  
}
#wholepage{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 70dvh;
}




.header {
    background-color: black;
  }
  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
  a {
  text-decoration: none;  
  font-family: sans-serif;
  }
  
  .logo {
  margin: 0;
  font-size: 1.45em;
  transition: 0.2s;
  }
  
  .logo a:hover {
  
      text-shadow: 0px 0px 10px #ff0000;
      font-weight: 800;
  
    }
  
  
  
  .main-nav {
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  }
  .logo a,
  .main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
    transition: 0.2s;
  }
  
  .main-nav a {
  color: #ff0000;
  font-size: .99em;
  }
  
  .main-nav a:hover {
  color: #ff0000;
    padding-top: 8px;
  }
  .header {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #0000007a;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
  
  
  /* =============================
  Dropdown
  ===============================*/
  
  .burger {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  }
  
  .burger input {
  display: none;
  }
  
  .burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ff0000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
  }
  
  
  
  
  
  
  /* ================================= 
  Media Queries
  ==================================== */
  
  
  
  
  @media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
      .header{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
  }
  
  }
  
  @media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  }
  


  ::-webkit-scrollbar {
    width: 12px;
    margin-right: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #0e0e0e;
    border-radius: 100px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 100px;
  }














.cards {
    display: flex;
    flex-direction: row;
    gap: 50px 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 25vw;
    height: 50vh;
    background-color: #1e1e1e;
    border-radius: 20px;
    text-align: center;
    transition: all 0.5s;
   }
   
   .card:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
    background-color: #ff0000;
   }
   
   .card .blob {
    height: 10px;
    width: 75%;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    background-color: #ff0000;
    visibility: hidden;
    opacity: 0;
    font-weight: 600;
    color: white;
    font-size: 1.2vw;
    font-family: sans-serif;
    transition: all 0.3s;
    text-align: left;
   }
   
   .card:hover .blob {
    height: 0;
    visibility: visible;
    opacity: 100%;
   }
   
   .card .img {
    display: flex;
    margin: 30px auto 10px auto;
    width: 70px;
    height: 70px;
    background-color: #ff0606;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
   }
   
   .card:hover .img {
    width: 100%;
    height: 70%;
    border-radius: 10px 0 0;
    margin: 0 auto;
    background-color: #1e1e1e;
    z-index: 99999;
   }
   
   .card h2 {
    padding: 15px 10px;
    font-size: 25px;
    transition: all 0.1s;
    z-index: -99;
    line-height: 17px;
   }
   

   
   .card:hover h2 {
    color: white;
   }
   
